.card {
  margin-top: 80px;
  width: 280px;
  height: 230px;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(177, 177, 177, 0.25);
  border-radius: 10px;

  padding: 16px 12px;
  text-align: center;
  display: flex;
  transition: box-shadow 1s cubic-bezier(0.55, 0, 0.1, 1) 0s;
}
.card a {
  width: 100%;
  vertical-align: middle;
  
}
.capabilities_cards{
  text-align: left;
  margin: 10px 10px;
  width: 300px;
}

/* .card:hover {
    box-shadow: 0 5px 7px rgb(228 24 32 / 40%);
    border: 1px solid #ff00006b;
} */
.card h4 {
  font-size: 18px;
  color: #ed1c24;
  font-weight: 400;
  margin: 1px 0px 0px 0px;
  text-align: left;
}
.card h5 {
  font-size: 13px;
  color: #005e9e;
  font-weight: 400;
  margin: 4px 0px 0px 0px;
  text-align: left;
}

.card img {
  padding: 0px 15px !important;
  height: 93px;
}

.asset_card {
  background: #ffffff;
  border: 1px solid #c7cacc;
  display: grid;
  position: relative;
  /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
  gap: 0px 0px;
  padding: 25px 23px;
}
.asset_card::before {
  width: 4px;
  height: 100px;
  background-color: red;
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
}

.asset_card img {
  object-fit: contain;
}

.asset_card:hover {
  box-shadow: 0 4px 20px rgb(0 94 158 / 5%), 3px 6px 10px rgb(50 130 196 / 8%);
}

.asset_card:last-child {
  grid-area: full;
}
.asset_card .title {
  font-size: 14px;
  line-height: 22px;
  color: #8a93a5;
}
.asset_card .value {
  color: #233253;
  text-align: left;
  font-size: 22px;
  font-weight: 400;
  margin: 10px 0px 0 10px;
}
.asset_card .descrption {
  color: #233253;
  font-size: 15px;
  font-weight: 400;
  margin: 10px 0px 0 10px;
}
.asset_card .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "value value value"
    "descrption descrption descrption";
  grid-area: 2 / 2 / 3 / 4;
}
.asset_card .title {
  grid-area: 1 / 1 / 2 / 4;
}
.asset_card .image {
  grid-area: 2 / 1 / 3 / 2;
}
.content .value {
  grid-area: value;
}
.content .descrption {
  grid-area: descrption;
}
.blog {
  width: 620px;
  height: 256px;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(177, 177, 177, 0.25);
  border-radius: 10px;
  display: flex;
  margin-top: 80px;
}
.wide_card {
  width: 33%;
}
.card_contant {
  width: 67%;
}
.wide_card.wide {
  column-gap: 20px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  order: 0;
  align-items: center;
}
.break {
  width: 0;
  flex-basis: 100%;
}
.wide_card.small {
  width: 30%;
  max-width: 333px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  order: 0;
  position: relative;
}
.wide_card.small .on_image_text {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #171616c2;
  color: #ffffff;
  padding: 12px;
}
.wide_card.small .on_image_text h6 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
.asset_card .title {
  grid-area: 1 / 1 / 2 / 4;
}
.asset_card .image {
  grid-area: 2 / 1 / 3 / 2;
}
.content .value {
  grid-area: value;
}
.content .descrption {
  grid-area: descrption;
}

.mediumCard {
  background: #ffffff;
  border: 1px solid #c7cacc;
  display: flex;
  width: 790px;
  height: 242px;
  margin: 10px;
}
.mediumSizeCard {
  display: flex;
  justify-content: center;
}
.mediumCard:hover {
  box-shadow: 0 4px 20px rgb(0 94 158 / 5%), 3px 6px 10px rgb(50 130 196 / 8%);
}
.mediumCard h4 {
  color: #233253;
  font-size: 26px;
  font-weight: 300;
}
.mediumCard p {
  font-size: 14px;
  color: #8a93a5;
  font-weight: 300;
}
.cardCoverImg:hover {
  box-shadow: 0 4px 20px rgb(0 94 158 / 5%), 3px 6px 10px rgb(50 130 196 / 8%);
}
.cardCoverImg {
  position: relative;
  text-align: center;
  width: 350px;
  height: 240px;
  margin: 10px;
}
.bottom {
  position: absolute;
  text-align: left;

  bottom: 0;
  background: rgba(23, 22, 22, 0.76);
  padding: 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
.carosoulCards {
  width: 390px;
  margin-top: 80px;
}
.capabilities {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  max-width: 500px;
  /* max-height: 300px; */
  margin: auto;
  text-align: left;
  font-family: arial;
  position: relative;
}
.carosoulCards :hover {
  transform: translate3d(0px, 0px, 0px);
}
.carosoulCards a {
  transition: color 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}
.long_card .cardimg:hover {
  transform: scale(1.05);
  transition: transform 2.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.cardimg:hover {
  border-radius: 5px;
}

.long_card button {
  position: absolute;
  top: 92%;
  left: 54%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(227, 213, 213, 0.25);
  border-radius: 5px;
  color: black;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: auto;
  min-width: 150px;
  transition: background-color 0.6s cubic-bezier(0.075, 0.82, 0.165, 1),
    color 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateZ(0);
}
.long_card button :hover {
  color: #000;
}
.long_card button::before {
  background-color: #3cedb7;
  border-radius: 4px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: center right;
}
.long_card p {
  position: relative;
  margin: 0;
}
.long_card button:hover::before {
  transform: scaleX(1);
  transform-origin: center left;
}
.heading {
  font-size: 24px;
  margin: 30px 10px 20px 20px;
  text-transform: lowercase;
  line-height: 29px;
}
.para {
  font-size: 14px;
  line-height: 22px;
  margin: 10px 20px 26px 20px;
}
.projectcard {
  max-width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 0px;
  border-radius: 5px;
  padding: 5%;
  background-color: #ffff;
  margin: auto;
  margin-bottom: 2%;
  text-align: center;
}

.servicecard {
  width: 170px;
  height: 120px;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(177, 177, 177, 0.25);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 18%;
}
.servicecard:first-child{
    margin-top: 40%;
}

@media only screen and (max-width: 500px) {
.carosoulCards {
   
    margin-top: 0px;
  }
  .long_card button {
    left: 40%;
}
.blog {
    margin-top: 0px;
}
}