
  .company_banner {
    width: 100%;
    display: grid;
    margin-top: 5px;
    text-align: center;
    color: white;
    height: 77%;
    background:#0662a7;
    align-items: center;
    position: relative;
  }
  .company_banner .banner_container{
      position: absolute;
      top: 26%;
  }

  .company_banner .content .free_text {
    font-weight: normal;
    font-size: 40px;
   }

  .company_banner .content .descrption {
    padding: 0 300px;
  }

  .companybanner .title p {
    font-size: 15px;
    color: #062841;
    font-weight: 600;
    padding: 8% 40% 0 8%;
    margin: 0;
  }
  .companybanner .subtitle p {
    font-size: 12px;
    color: #434750;
    font-weight: 500;
    padding: 1% 20% 0 8%;
  }
  
  .companybanner_plans P {
    font-size: 10px;
  }
  .content {
    color: white;
  }


  .call_to_action {
    color: white;
    background-color:#FFAF2B;
    width: max-content;
    font-family: "Lato";
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    border: 0px;
    border-radius: 60px;
    cursor: pointer;
    border: none;
    margin: auto;
    transition: background-color 0.3s cubic-bezier(0.55, 0, 0.1, 1),
      color 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    transition: box-shadow 1s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  }


/* About Company */

.abt_company  {
  text-align: center;
  margin: 50px 50px;
  border-radius: 20%;
}
.abt_company .heading {
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 30px;
  padding: 0px 280px;
}
.abt_company .heading p{
   font-size: 40px;
}

.abt_company .heading p + p{
  font-size: 15px;
}

.abt_company .abt_img img{
  border-radius: 3%;
}

.abt_company .note {
  padding-top: 10px;
}

/* Values Vision */
   .values_vision {
     font-weight: normal;
     padding: 100px;
     background:#FEF8ED;
     width: 100%;
     height: 479px;
  }

  .values_vision .heading {
    margin-top: 20px;
    font-weight: 700;
    font-size: 22px;
  }

  .values_vision  .free_text{
     font-size: 16px;
  }


  /* Our People */
  .our_people {
    text-align: center;
    font-size: 40px;
    width: 100%;
    height: 350px;
    margin: 50px 0px;
  }

  .our_people .free_text{
    font-weight: 700;
    font-size: 40px;
    line-height: 20px
  }

  .our_people .sub_heading{

  }

  .our_people .profiles {
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
    
  }

  /* .our_people .profiles .border{
    border: 2px solid #0d79e4;
    border-radius: 50%;
  } */

  .our_people .profiles .img{
    border-radius: 50%;
    border: 2px solid #A4CFF9;
    background: #2196ea;
  }

  .our_people .role{
    line-height: 3px;
    color: #E18E04;
  }


  /* Partner and Clients*/
  .partner {
     text-align: center;
     width: 100%;
     height: 520px;
     padding-top: 50px;
     background: #F1F8FF;
  }
  .partner .heading {
    padding: 0px 300px;
    line-height: 22px;
  }
  
  .partner .heading .free_text{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
  }

  .partner .heading .desc {
    font-weight: normal;
    font-size: 20px;
  }

  .partner .logos{
    margin-top: 30px;
  }

  .partner .logos .images{
    margin: 30px;
  }

  /* WEB DEV */

  .web_dev .title {
    margin: 30px 0px;
  }

  .web_dev .title .desc {
    height: 90px;
    /* background-color: #E18E04; */
  }


  /* Tech Slack */

  .tech_slack {
    text-align: center;
    padding: 50px 200px;
  }


  .tech_slack .heading .free_text{
     font-weight: bold;
     font-size: 35px;
  }

  .tech_slack .heading .desc{

  }
  
  .company_cards {
     display: flex;
     flex-wrap: wrap;
    }

    .c_cards {
      width: 110px;
      height: 120px;
      margin: 5px;
      padding: 20px 2px;
      -webkit-box-shadow: 0px 4px 14px rgb(177 177 177 / 25%);
      box-shadow: 0px 4px 14px rgb(177 177 177 / 25%);
      border-radius: 10px;
      text-align: center;
    }
    .c_cards p {
      font-size: 13px;
      font-weight: 600;
    }

    /* /Career Opening */

    .career_open {
      height: 345px;
      width: 100%;
      margin-top: 30px;
      background:#0662a7;
      color: white;
      text-align: center;
    }
    
    .career_open .free_text{
      font-size: 20px;
      text-align: center;
      font-weight: bold;
      padding: 47px 300px;
  
    }

    .career_open .button .call_to_action {
      color: white;
      background-color:#FFAF2B;
      width: max-content;
      font-family: "Lato";
      padding: 8px 20px;
      font-size: 16px;
      font-weight: 800;
      line-height: 20px;
      border: 0px;
      border-radius: 60px;
      cursor: pointer;
      border: none;
      margin: 50px 200px;
      transition: background-color 0.3s cubic-bezier(0.55, 0, 0.1, 1),
        color 0.3s cubic-bezier(0.55, 0, 0.1, 1);
      transition: box-shadow 1s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    }

    .career_open .descrption{
      font-size: 15px;
      font-weight: normal;
      margin-top: 20px;
    }

    .career_open .descrption a{
      color: white;
    }

 