.company_banner {
  display: grid;
  margin-top: 66px;
  text-align: center;
  color: white;
  justify-items: center;

  background: #0662a7;
  align-items: center;
  position: relative;
  /* background-image: url(../components/assets/company-yellow-bg.png); */
  background-image: url(../components/assets/top-banner-transparent.png);

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  width: 100vw;
  max-width: 100vw;
  margin-left: -webkit-calc(50% - 50vw);
  margin-left: -moz-calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  margin-right: -webkit-calc(50% - 50vw);
  margin-right: -moz-calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: 0;
  padding-right: 0;
}

.abt_company .Company_breadCrum {
  padding: 20px 0 0;
  font-size: 14px;
}

.company_banner img {
  min-width: 8%;
  max-height: auto;
}
.company_banner .banner_container {
  position: absolute;
  /* top: 26%; */
  /* width: 1200px; */
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.campany_banner_web {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: 0;
  padding-right: 0;
  display: grid;
  text-align: center;
  color: white;
  height: 350px
  
}
.campany_banner_web img{
  object-fit: cover;
  object-position: center;
}
.company_banner .content .free_text p {
  font-family: "GraphikMedium";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  margin: 0;
}


.abt_img img{
  object-fit: cover;
  object-position: center;
}


.company_banner .buttons {
  display:flex;
  justify-content: center;
}

 .buttons {
  display:flex;
  justify-content: center;
 }
@media only screen and (max-width: 992px) {
  .company_banner {
    background-image: none;
  }
  .company_banner .banner_container {
    width: 850px;
  }
}
@media only screen and (max-width: 850px) {
  .company_banner {
    background-image: none;
  }
  .company_banner .banner_container {
    width: 768px;
  }
}
@media only screen and (max-width: 768px) {
  .company_banner .content .free_text p {
    font-size: 30px;
  }

  .current_opening .banner_container .free_text {
    font-size: 28px;
  }

  .company_banner .content .description {
    font-size: 13px;
  }

  .company_banner .call_to_action {
    width: 165px;
    font-size: 13px;
  }
  .company_banner {
    background-image: none;
  }
  .company_banner .banner_container {
    width: 100%;
    padding: 0 2%;
  }
}

@media only screen and (max-width: 480px) {
  .company_banner .content .free_text p {
    font-size: 28px;
  }
  .current_opening .banner_container {
    top: 20%;
  }

  .current_opening .banner_container .free_text {
    font-size: 30px;
  }
  /* .company_banner .banner_container {
    top: 18%;
  } */

  .company_banner .content .description {
    font-size: 12px;
  }

  .company_banner .call_to_action {
    width: 158px;
    font-size: 13px;
  }
  .company_banner {
    background-image: url(../components/assets/company-mobile-bg.jpg);
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .campany_banner_web {
    display: none;
  }
}

/* About Company */

.abt_company {
  /* text-align: center; */
  /* padding: 3% 6%; */
  /* border-radius: 20%; */
  max-width: 1200px;
  /* margin: 0 16px; */
}
.abt_company .heading {
  margin: 20px 0px 50px 0px;
}
.abt_company .heading h3 {
  /* margin-top: 40px; */
  font-size: 31px;
  font-weight: bold;
  font-family: "GraphikMedium";
  line-height: 30px;
  color: #383838;
  text-align: center;
  visibility: visible;
}
.abt_company .heading h6 {
  font-family: "GraphikRegular";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #383838;
  text-align: center;
  padding: 0 12%;
}
.abt_company .heading p {
  font-size: 40px;
}

.abt_company .heading p + p {
  font-size: 15px;
}

.abt_company .note {
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-family: "GraphikRegular";
  font-size: 15px;
  line-height: 30px;
}

@media only screen and (max-width: 980px) {
  .abt_company .abt_img {
    padding: 3% 12%;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .abt_company .abt_img {
    padding: 3% 12%;
    text-align: center;
  }
  .abt_company .heading h6 {
    padding: 0 9%;
    line-height: 20px;
  }

  .abt_company .heading h6 {
    font-size: 16px;
    line-height: 20px;
    padding: 0 33px;
  }
  .abt_company .heading h3 {
    font-size: 26px;
    line-height: 20px;
    padding: 0 33px;
  }
}

@media only screen and (max-width: 480px) {
  .abt_company .heading h3 {
    font-size: 23px;
  }
  .abt_company .abt_img {
    margin-left: 0px;
  }

  .abt_company .heading h6 {
    font-size: 11px;
    line-height: 20px;
    padding: 0 33px;
  }

  .abt_company .note {
    font-size: 12px !important;
    line-height: 20px;
  }

  .company_banner .call_to_action {
    width: 150px;
    font-size: 12px;
  }
}

/* Values Vision */

.values_vision_banner {
  margin-top: 66px;
  background-image: url(../components/assets/company-yellow-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fef8ed;
  background-position: center;
  width: 100vw;
  max-width: 100vw;
  margin-left: -webkit-calc(50% - 50vw);
  margin-left: -moz-calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  margin-right: -webkit-calc(50% - 50vw);
  margin-right: -moz-calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: 0;
  padding-right: 0;
}

.values_vision {
  padding: 85px 60px;
  max-width: 1200px;
  margin: auto;
}

.values_vision .vvContent {
  /* margin: 30px; */
}
.web_dev {
  /* padding: 0 8%; */
}
.web_front_end_title h2 {
  font-size: 24px;
  font-weight: 600;
}
.web_front_end_para p {
  font-size: 14px;
}
.web_front_end_para {
  margin: 20px 0 30px;
  padding-right: 9%;
}
.webContainer {
  margin: 50px 0 0;
}
.values_vision .heading {
  margin-top: 20px;
  font-family: "GraphikMedium";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  visibility: visible;
  animation: slide 1s;
}

.values_vision .free_text {
  font-size: 13px;
  font-family: "GraphikRegular";
}

@media only screen and (max-width: 1200px) {
  /* .values_vision_banner {
    background-image: none;
  } */
  .values_vision {
    
    max-width: 992px;
    padding: 8% 0;
  }
}
@media only screen and (max-width: 992px) {
  
  .values_vision {
    
    max-width: 850px;
    margin: auto;
  }
}
@media only screen and (max-width: 850px) {
  
  .values_vision {
    
    max-width: 768px;
    margin: auto;
  }
}
@media only screen and (max-width: 768px) {
  .values_vision {
    padding: 35px 30px;
  }
  .values_vision .free_text {
    font-size: 12px;
  }
  .values_vision .vvContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
  }
  .webContainer {
    margin: 20px 0 0;
  }
  .web_front_end_para {
    padding-right: 0;
  }
  .web_front_end_para p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .values_vision .free_text {
    font-size: 12px;
  }
  .values_vision {
    padding: 35px 30px;
  }
  .values_vision .vvContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
  }
  .webContainer {
    margin: 20px 0 0;
  }
  .web_front_end_para {
    padding-right: 0;
  }
  .web_front_end_para p {
    font-size: 12px;
  }
}

/* Our People */
.our_people {
  text-align: center;
  /* width: 97%; */
  margin: 50px 0px 0;
  overflow-x: hidden;
}
.imgborder {
  border: 2px solid #a4cff9;
  padding: 2px;
  border-radius: 50%;
  height: 172px;
  width: 172px;
  margin: 0 15%;
}

.our_people .free_text h3 {
  color: #383838;
  font-family: "GraphikMedium";
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
}

.our_people .sub_heading p {
  font-family: "GraphikRegular";
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 50px;
}
.our_people .profiles h6 {
  font-family: "GraphikMedium";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin-top: 20px;
}

.our_people .profiles .role {
  color: #383838;
  font-family: "GraphikRegular";
  font-style: normal;
  font-weight: normal;
  line-height: 3px;
  color: #e18e04;
  font-size: 13px;
}

.our_people .profiles .img {
  border-radius: 50%;
  /* border: 2px solid #a4cff9; */
  background: #2196ea;
}

@media only screen and (max-width: 768px) {
  .our_people .free_text h3 {
    font-size: 24px;
    line-height: 20px;
  }
  .our_people .sub_heading p {
    font-size: 13px;
  }

  .our_people .sub_heading {
    font-size: 11px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .our_people .free_text h3 {
    font-size: 26px;
    line-height: 30px;
  }
  .our_people .sub_heading p {
    font-size: 12px;
  }

  .our_people .sub_heading {
    font-size: 11px;
    margin-bottom: 10px;
  }

  .our_people .profiles h6 {
    font-size: 15px;
    margin-right: 40px;
  }
  .our_people .profiles p {
    /* font-size: 15px; */
    margin-right: 40px;
  }

  .our_people .profiles .img {
    height: 132px;
    width: 132px;
  }
  .imgborder {
    margin: 0 10%;
    height: 142px;
    width: 142px;
  }
}

/* Partner and Clients*/
.partner {
  text-align: center;
  background: #f1f8ff;
  padding: 50px;

  width: 100vw;
  max-width: 100vw;
  margin-left: -webkit-calc(50% - 50vw);
  margin-left: -moz-calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  margin-right: -webkit-calc(50% - 50vw);
  margin-right: -moz-calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: 0;
  padding-right: 0;
}

.partner .heading {
  line-height: 22px;
  text-align: center;
}

.partner h3 {
  font-size: 40px;
  font-family: "GraphikMedium";
  font-style: normal;
  font-weight: bold;
  color: #383838;
}

.partner .heading .free_text {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.partner .desc p {
  font-family: "GraphikRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
}
.partner .allProducts {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

/* .partner .logos {
  width: auto;
 
  margin: 16px;
  border: 1px solid #d1d1d1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 1px;
  background-color: white;
} */
.logos {
  width: 254px;
  height: 154px;
  margin: 16px;
  border: 1px solid #d1d1d1;
  background: white;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .partner .logos .images {
  margin: 20% auto;
} */
.allProducts {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 1200px;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .partner .heading h3 {
    font-size: 28px;
  }
  .partner .desc p {
    font-size: 13px;
    line-height: 21px;
  }
}

@media only screen and (max-width: 500px) {
  .partner .heading h3 {
    font-size: 26px;
  }
  .partner .desc p {
    font-size: 12px;
    line-height: 21px;
  }

  .partner .allProducts .images {
    /* margin: 10px; */
    width: 120px;
  }
  .partner .logos {
    /* width: 120px; */
    margin-top: 0;
  }
  .partner {
    padding: 50px 10px;
  }

  /* .partner  .logos .images {
    width: 140px;
    height: 90px;
  } */
}

/* WEB DEV */

.web_dev {
  max-width: 1200px;
  margin: 0 20px;
}

.web_dev .title {
  margin: 30px 48px 0 0;
}

.web_dev .title .desc {
  height: 90px;
  /* background-color: #E18E04; */
}

@media only screen and (max-width: 500px) {
  .web_dev .title {
    margin: 0 30px;
  }
}

/* Tech Slack */

.tech_slack {
  max-width: 1200px;
  margin: 50px auto;
  text-align: center;
}

.tech_slack .our_slack_title {
  color: #383838;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  font-family: "GraphikMedium";
}

.tech_slack .heading .free_text {
  font-weight: bold;
  font-size: 35px;
}

.tech_slack .heading .desc {
  font-family: "GraphikRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  padding: 0 16%;
}

@media only screen and (max-width: 500px) {
  .tech_slack .our_slack_title {
    font-size: 25px;
  }

  .tech_slack .heading .desc {
    font-size: 12px;
    padding: 0 8%;
  }
}

.company_cards {
  display: flex;
  flex-wrap: wrap;
}

.c_cards {
  width: 119px;
  height: 120px;
  margin: 5px;
  padding: 8px 2px;
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  text-align: center;
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
}

.c_cards:hover {
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 22%);
  transform: scale(1.1);
}
.c_cards p {
  font-size: 13px;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .tech_slack .our_slack_title {
    font-size: 23px;
  }

  .tech_slack .heading .desc {
    font-size: 12px;
    padding: 0 20px;
  }

  .company_cards {
    margin: 0px -9px;
  }
  .web_dev .free_text {
    margin-top: 20px;
    font-size: 24px;
  }
  .web_dev .desc {
    font-size: 13px;
    height: 55px !important;
  }
}

@media only screen and (max-width: 500px) {
  .company_cards {
    margin: 0px -9px;
  }
  .web_dev .free_text {
    margin-top: 20px;
  }
  .web_dev .desc {
    font-size: 13px;
    height: 55px !important;
  }
}

@media only screen and (max-width: 500px) {
  .c_cards {
    margin: 5px 10px;
    width: 88px;
    height: 88px;
    padding: 7px 2px;
  }

  .c_cards img {
    width: 45px;
    height: 45px;
  }

  .c_cards p {
    font-size: 11px;
  }
}

/* ///Current Opening */

.current_opening img {
  opacity: 0.3;
  min-width: 8%;
  max-height: auto;
}

.current_opening {
  display: grid;
  margin-top: 66px;
  text-align: center;
  color: white;
  height: 77%;
  background: #0662a7;
  align-items: center;
  position: relative;
  background-image: url(../components/assets/company-yellow-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  width: 100vw;
  max-width: 100vw;
  margin-left: -webkit-calc(50% - 50vw);
  margin-left: -moz-calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  margin-right: -webkit-calc(50% - 50vw);
  margin-right: -moz-calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: 0;
  padding-right: 0;
}
.current_opening_banner_web {
  width: 100%;
  display: grid;
  text-align: center;
  color: white;
  height: 350px;
}

.blog_banner {
  display: grid;
  margin-top: 66px;
  text-align: center;
  color: white;
  height: 77%;
  background: #0662a7;
  align-items: center;
  position: relative;
  /* background-image: url(../components/assets/company-yellow-bg.png); */
  background-image: url(../components/assets/top-banner-transparent.png);

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  width: 100vw;
  max-width: 100vw;
  margin-left: -webkit-calc(50% - 50vw);
  margin-left: -moz-calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  margin-right: -webkit-calc(50% - 50vw);
  margin-right: -moz-calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: 0;
  padding-right: 0;
}

.blog_banner_web {
  width: 100%;
  display: grid;
  text-align: center;
  color: white;
  opacity: 0.2;
  height: 350px;
}

.blog_banner_web img {
  object-fit: cover;
  object-position: center;
}
.blog_banner .banner_container {
  position: absolute;
  /* top: 26%; */
  /* width: 1200px; */
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.current_opening .banner_container {
  position: absolute;
  /* top: 26%; */
  width: 100%;
}

.current_opening .content .free_text {
  font-weight: normal;
  font-size: 30px;
  font-family: "GraphikMedium";
}

.current_opening .content .description {
  margin-top: 20px;
}

.content {
  color: white;
  /* width: 1200px; */
  margin: 0 auto;
}

.buttons .call_to_action_req {
  color: white;
  background-color: #ffaf2b;
  width: max-content;
  font-family: "Lato";
  padding: 8px 30px;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  border: 0px;

  border-radius: 60px;
  cursor: pointer;
  border: none;
  margin: 30px auto;
  transition: background-color 0.3s cubic-bezier(0.55, 0, 0.1, 1),
    color 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: box-shadow 1s cubic-bezier(0.55, 0, 0.1, 1) 0s;
}

.buttons .call_to_action_req:hover {
  background: #0171c1;
}

.description a {
  color: white;
  text-decoration: none;
}

.current_content {
  color: white;
}

@media only screen and (max-width: 768px) {
  .buttons .call_to_action_req {
        font-size: 14px;
    }
    .current_opening .content .description {
        padding: 0 38px;
        font-size: 14px;
    }
    .current_opening .content .free_text {
      font-size: 26px;
    }
    
@media only screen and (max-width: 1200px) {
  .blog_banner .banner_container {
    width: 992px;
  }
  .content {
    width: 992px;
  }
  .current_opening {
    background-image: none;
  }
  .blog_banner {
    background-image: none !important;
  }
}
@media only screen and (max-width: 992px) {
  .blog_banner .banner_container {
    width: 850px;
  }
  .content {
    width: 850px;
  }

}
@media only screen and (max-width: 850px) {
  .blog_banner .banner_container {
    width: 768px;
  }
  .content {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .buttons .call_to_action_req {
    font-size: 14px;
  }
  .blog_banner .banner_container {
    width: 100%;
    padding: 0 4%;
  }
  .content {
    width: 100%;
    padding: 0 4%;
  }
}

@media only screen and (max-width: 480px) {
  .current_opening .content .free_text {
    font-size: 20px;
    padding: 0 8%;
  }
  .blog_banner {
    background-image: none;
  }
  .company_banner .current_opening_banner_web {
    width: auto;
    height: inherit;
  }
  .current_opening img {
    background-image: none;
    max-height: 300px;
  }

  .current_opening .banner_container {
    top: 15%;
  }
  .current_opening .call_to_action_req {
    font-size: 10px;
    margin: 20px auto;
  }
  .current_opening .description {
    font-size: 12px;
    padding: 0 10px;
  }
  .descrption p {
    font-size: 12px;
    padding: 10px;
   }
 }
}
