/* ///////////////////////APPP */

 

.contact .content {
  width: 100%;
  /* padding: 50px;
  margin: 60px; */
}
.sucessmsg{
  font-size: 15px;
  color: green;
}
.errormsg{
  font-size: 15px;
  color: red;
}
.contact .content h2 {
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
  color: #383838;
  margin: 5px 0;
  font-family: "GraphikMedium";
  text-align: center;
}
.contact_col{
  margin: 0 0 30px;
}
.contact .content h4 {
  font-weight: 700;
  text-align: center;
  /* padding: 10px 10px 0; */
  line-height: 30px;
  font-size: 20px;
}
.nav-tabs {
  display: flex;
  justify-content: center;
  width: 100%;
}
.tabStyle {
  margin-bottom: 3px;
  width: 45%;
}
.tabtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 20px;
}
.tabsContainer ul li .nav-item button {
  display: flex;
  flex-direction: column;
}
.tabsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* width: 50%; */
  /* margin: 20px 70px; */
}
.tabimage {
  display: flex;
  flex-direction: column;
}
.tabsContainer .nav-link {
  color: #1976d2;
}

.tabsContainer ul {
  color: #1976d2;
  display: flex;
  justify-content: space-around;
}
.nav-item .nav-link {
  color: black;
}
.submitbtn {
  background: #ffaf2b;
  height: 43px;
  font-size: 15px;
  color: #fff;
  border: 1px solid #ffaf2b;
  padding: 10px 40px;
  margin-top: 30px;
  border-radius: 30px;
  margin: 30px 0 0 0;
}

.submitbtn:hover {
  background: #0171c1;
  border: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #03a9f5 !important;
  background-color: none !important;
  border-color: none !important;
}

.tabsContainer .tab1 {
  max-width: 600px;
  margin: 40px auto;
  padding: 50px;
  box-sizing: border-box;
  min-height: 400px;
  width: 100%;
  /* background: #ffffff; */
  box-shadow: 0px 4px 15px rgba(155, 149, 149, 0.25);
}



.tabsContainer .tab2 {
  max-width: 600px;
  margin: 40px auto;
  box-shadow: 0 0 20px 4px rgb(207 207 207 / 30%);
  background: #fff;
  padding: 50px;
  box-sizing: border-box;
  min-height: 400px;
}
.tabsContainer .tab3 {
  max-width: 600px;
  margin: 40px auto;
  box-shadow: 0 0 20px 4px rgb(207 207 207 / 30%);
  background: #fff;
  padding: 50px;
  box-sizing: border-box;
  min-height: 400px;
  text-align: center;
}

.tab3 p {
  text-align: center;
}
.tab3 .countries {
  font-weight: 500;
}

.tab2 .sendEmail button {
  font-size: 20px;
  color: #03a9f5;
  background: #f5f5f5;
  border-radius: 20px;
  display: block;
  padding: 12px 20px;
  line-height: normal;
  
  margin: 20px auto;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

/* button[type="submit"] {
    padding: 5px 50px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
   } */

.content .terms {
  font-size: 12px;
}

.contactForm input {
  width: 100%;
  height: 30px;
  /* margin: 20px 0; */
  line-height: 22px;
  font-size: 14px;
  padding: 4px;
  border: 1px solid #d9d9d9;
  margin-bottom: 0;
  box-sizing: border-box;
  border-radius: 4px;
}

.contactForm textarea {
  width: 100%;
  /* height:85px; */
  /* margin: 20px 0; */
  line-height: 22px;
  font-size: 14px;
  padding: 5px 0px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
}
/* .form_upload{
   background-color: #F6F6F6;
  border:2px dashed #E6E3E3;
  border-radius: 5px;
  width: 10%;
} */
.fileUpload {
  display: none;
}
.Drag_label {
  background-image: url(../components/assets/upload-icon@2x.png);
  background-size: 30px;
  background-position: calc(10px);
  background-repeat: no-repeat;
  color: #474848;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50px;
  background-color: #f6f6f6;
  border: 2px dashed #e6e3e3;
  border-radius: 5px;
  width: 100%;
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;
  margin: auto;
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
}
.vl {
  border-left: 1px solid #dadada;
  height: 50px;
  /* margin-right: 45%; */
  padding-left: 20%;
  padding-top: 3%;
  padding-bottom: 2%;
  padding-right: 25%;
}
.form_upload_text {
  font-size: 13px;
  line-height: 14px;
  color: #000000;
}
.contact .tabsContainer .tabsIcons {
  display: flex;
  justify-content: space-around;
  margin-bottom: -26px;
}

.contactForm_label {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #5b5b5b;
  /* background-color: blueviolet; */
}
.contactForm_label::after {
  padding-left: 3px;
  color: #ff4d4f;
  font-size: 14px;
  content: "*";
}
.contactForm ::placeholder {
  font-style: normal;
  font-weight: normal;
  color: #bababa;
  font-size: 14px;
  line-height: 20px;
}
.nonMendatory_label {
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #5b5b5b;
}

/* .contactForm .form-label {
  background-color: blueviolet;
} */

.contactForm label {
  font-family: "GraphikMedium";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #5b5b5b;
}

.contactForm .form_upload_text {
  font-family: "GraphikRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: black;
  margin-top: -20px;
}

.contactForm input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.d input {
  box-shadow: none !important;
  background-color: none;
}

.contactForm .inputs {
  border: none;
  border-bottom: 1px solid #c5c5c5;
  padding-bottom: 10px;
  border-radius: 0;
  background-image: none !important;
}

.contact input:focus {
  box-shadow: none;
}

.contact textarea:focus {
  box-shadow: none;
}
.contactForm .form-control:invalid:focus {
  box-shadow: none;
}

.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus{
  box-shadow: none;
}

.contactForm select {
  border: none;
  border-bottom: 1px solid #c5c5c5;
  border-radius: 0;
  box-shadow: none !important;
  padding: 10px 0;
  /* background-image: none !important; */
  /* background-image: url(../components/assets/dropdown.svg); */
}
.selectoption_style {
  font-style: normal;
  font-weight: normal;
  color: #bababa;
  font-size: 14px;
  line-height: 20px;
}
.selectoption_style option {
  color: #000;
}
.careerForm textarea {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  box-shadow: none !important;
}

.contactForm button {
  width: 100%;
  font-size: 16px;
  color: #ffff;
  background: #ffaf2b;
  border: 0;
  border-radius: 5px;
  display: block;
  padding: 9px 20px;
  line-height: 20px;
  margin: 20px auto;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

.contactForm button:hover {
  border: 0;
  background: #0171c1;
}

.contactForm button:active {
  border: 0;
  background-color: #ffaf2b !important;
}

.contactForm input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media only screen and (max-width: 500px) {
  .tabStyle {
    width: 100%;
  }
  .tabsContainer .tab1 {
    /* max-width: 600px; */
    margin: 20px;
    padding: 30px;
  }
  .tabsContainer .tab2 {
    padding: 30px;
   }
  .tabtitle {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .tabsContainer .tab1 {
    width: auto;
  }
  .tabsContainer .tab2 {
    width: auto;
  }
  .tabsContainer .tab3 {
    width: auto;
  }
  .tabsContainer .inputs {
    margin-bottom: 10px;
  }
  
}