.container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  height: 66px;
  z-index: 1001;
  background: transparent;
  transition: all ease-out 0.5s;
  justify-content: center;
  
}
.innerContainer {
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.onScrollBackground {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgb(84 83 83 / 30%);
}
.navContainer {
  text-align: right;
}
.subMenu a {
  display: inline-grid;
  font-size: 13px !important;
  color: #000;
  margin: 0px !important;
  padding: 4px 10px !important;
  text-align: left;
}
.subMenu h3 {
  color: #005fa2;
  font-size: 15px;
  margin-left: 10px;
  font-weight: 400;
  text-align: left;
}
.navContainer a {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  margin: 0 18px;
  color: #233253;
  text-decoration: none;
}
.navContainer a:hover {
  color: #0c7ed4;
}
/* .navContainer:last-child img{
    width: 50px!important;
    height: 50px!important;
    object-fit: contain;
  } */
.navContainer img {
  position: absolute;
  padding-left: 4px;
  /* bottom: 10px; */
}
.headerbtn p {
  margin-left: -15px;
  position: relative;
}
.headerbtn {
  height: 40px;
  width: 150px;
  background-color: #ffaf2b;
  color: #fff;
  border: none;
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 12px;
  padding: 10px 20px;
  margin: 0 10px;
  transition: background-color 0.6s cubic-bezier(0.075, 0.82, 0.165, 1),
    color 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateZ(0);
}
.headerbtn :hover {
  color: #000;
}
.headerbtn::before {
  background-color: #0171c1;
  border-radius: 30px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: center right;
}
.headerbtn:hover::before {
  transform: scaleX(1);
  transform-origin: center left;
}

.subMenuContainer {
  display: none;
  width: 100%;
  height: 460px;
  /* border: 1px solid #ccc; */
  position: absolute;
  top: 18px;
  left: 0;
  bottom: 0;
  right: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background: #fff;
  z-index: 1002;
}
.subMenuContainer:after {
  content: "";
  position: absolute;
  top: -10px;
  right: 48%;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  box-shadow: none;
  transform: rotate(180deg);
}
/* .topNavLink{
  position: relative;
  display: inline-block;
} */
.topNavLink:hover > .subMenuContainer {
  display: inline-block;
  height: 341px;
text-align: left;
left: 43%;
  width: 474px;
  padding: 2% 0%;
  transition: all 0.5s ease;
  margin-top: 47px;
  -webkit-box-shadow: 0 -1px 25px 0 rgb(0 0 0 / 15%);
}

.subMenu {
  width: 212px;
  height: 190px;
}
.subMenu button {
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  color: #233253;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease-in-out;
  margin-left: 5px;
  position: relative;
}
.subMenu button:hover {
  margin-left: 15px;
  color: #0c7ed4;
}
.subMenu img {
  margin: -3px 10px;
}


.hamburgerCheckbox {
  display: none;
}
.hamburgerMenuIcon {
  display: none;
}

@media only screen and (max-width: 1240px) {
  .logo {
    margin: 0 16px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .container {
    /* background-color: orange; */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .container {
    /* background-color: green; */
  }
  .logo img {
    height: 36px;
  }
  .navContainer a {
    margin: 0 8px;
    padding: 12px 0;
  }
  .headerbtn {
    width: 110px;
    height: 36px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .container {
    /* background-color: blue; */
  }
  .navContainer {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    /* background-color: red; */
  }

  .menuToggle {
    display: block;
    position: absolute;
    right: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  .menuToggle .hamburgerCheckbox {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  /*
 * Just a quick hamburger
 */
  .menuToggle .hamburgerMenuIcon {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  .menuToggle .hamburgerMenuIcon:first-child {
    transform-origin: 0% 0%;
  }

  .menuToggle .hamburgerMenuIcon:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
  .menuToggle .hamburgerCheckbox:checked ~ .hamburgerMenuIcon {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  /*
 * But let's hide the middle one.
 */
  .menuToggle
    .hamburgerCheckbox:checked
    ~ .hamburgerMenuIcon:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
 * Ohyeah and the last one should go the other direction
 */
  .menuToggle
    .hamburgerCheckbox:checked
    ~ .hamburgerMenuIcon:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*
 * Make this absolute positioned
 * at the top left of the screen
 */
  .navContainer {
    position: absolute;
    width: 300px;
    margin: -50px 0 0 0;
    padding: 50px;
    padding-top: 50px;
    right: -50px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    height: 100vh;
    justify-content: flex-start;
  }

  .navContainer li {
    padding: 10px 0;
    font-size: 22px;
  }

  /*
 * And let's fade it in from the left
 */
  .menuToggle .hamburgerCheckbox:checked ~ .navContainer {
    transform: none;
    opacity: 1;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .container {
    /* background-color: yellow; */
  }
}
