.homeformlabel {
  display: block;
  font-size: 15px;
  color: #5b5b5b;
}
.contactForm {
  display: flex;
  flex-wrap: wrap;
}
.labelbox {
  width: 50%;
  margin-bottom: 40px;
}
.sucessmsg{
  font-size: 15px;
  color: green;
}
.errormsg{
  font-size: 15px;
  color: red;
}
.homeinputbox {
  width: 90%;
  border-bottom: 1px solid #000;
  border-top: 0;
  margin-top: 10px;
  border-left: 0;
  border-right: 0;
  font-size: 14px;
  line-height: 30px;
}
.labelmsgbox {
  width: 90%;
}
.homecontactForm {
  background-color: #fff;
  padding: 7% 2% 7% 7%;
}
.homecontactForm h3 {
  color: #226196;
  font-size: 24px;
  font-weight: 600;
  font-family: "GraphikMedium";
  margin-bottom: 50px;
}
.homeinputbox::-webkit-input-placeholder {
  color: #bababa;
}

.homeinputbox:-moz-placeholder {
  color: #bababa;
}

.homeinputbox::-moz-placeholder {
  color: #bababa;
}

.homeinputbox:-ms-input-placeholder {
  color: #bababa;
}
.homeinputbox:focus-visible {
  outline: none;
}
.formbtn {
  width: 75px;
  height: 75px;
  vertical-align: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 38px;
  margin-top: 56px;
  margin-left: -40px;
  background-color: #ffaf2b;
  border: 1px solid #ffaf2b;
  background-image: url(../components/assets/contact.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.contactForm input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .homeformlabel {
    font-size: 14px;
  }
  .formbtn {
    width: 62px;
    height: 62px;
    margin-left: -30px;
  }
}

@media only screen and (max-width: 500px) {
  .labelbox {
    width: 100%;
    margin-bottom: 40px;
  }
  .labelmsgbox {
    width: 100%;
  }
  .homeinputbox {
    width: 100%;
  }
  .homecontactForm {
    padding: 7% 4% 7% 4%;
  }
  .formbtn {
    width: 75px;
    height: 75px;
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 38px;
    margin-top: 20px;
    margin-left: 0px;
  }
}
