.homebanner {
  width: 100%;
  height: 450px;
  background: #deebf1;
}
.home_caro {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  overflow-x: hidden;
  padding-left: 0;
  padding-right: 0;
  overflow-y: visible;
  height: 650px;
}
.home_caro_mob {
  height: 0px;
  overflow: hidden;
}
.carosel_card_mob img {
  width: 100%;
  height: 0px;
}
.descrption p {
  width: 50%;
  color: #6C6C6C;
}
.homebanner .title p {
  font-size: 45px;
  color: #005fa2;
  font-weight: 600;
  padding: 8% 40% 0 8%;
  margin: 0;
}
.homebanner .subtitle p {
  font-size: 22px;
  color: #434750;
  font-weight: 500;
  padding: 1% 20% 0 8%;
}
.clientcarousel {
  align-items: start;
  height: 430px;
  overflow: hidden;
}
.clientccarousel {
  align-items: start;
  height: 370px;
  overflow: hidden;
}

.clientcarousel .react-multiple-carousel__arrow--left {
  left: -webkit-calc(4% + 1px);
  left: calc(86% + 1px);
  bottom: 20%;
}
.clientcarousel .react-multiple-carousel__arrow--right {
  bottom: 20%;
}
.homebanner_plans P {
  font-size: 10px;
}
/* .carosel_banner {
  position: relative;
} */
/* .carosel_banner .carosel_card {
  display: flex;
  justify-content: center;
  width: 100%;
} */

.carosel_card img {
  height: 600px;
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: 0;
  padding-right: 0;
  object-fit: cover;
  object-position: center;
}

.carosel_card .image {
  width: 80%;
  height: 80%;
}

.cardbanner {
  column-gap: 15px;
  overflow-y: scroll;
  margin: 0 20px;
}
.cardbanner > ul > li:first-child {
  margin-left: 24px;
}
.info_banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 53px 200px 40px 200px;
  background-color: #f9f9f9;
}
.info_banner .title {
  font-size: 22px;
  margin: 0px 0px 35px 0px;
}
.info_banner .descrption {
  font-size: 12px;
  margin: 0px;
  color: #8a93a5;
}
.stats_banner .descrption p {
  font-size: 16px;
  margin: 20px 20px 40px;
  color: #8a93a5;
  font-weight: 400;
  text-align: center;
}
.info_banner .descrption a {
  color: red;
}
.hero_banner {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  background-color: #c6def1;
  font-family: "Saira Extra Condensed", sans-serif;
}

.image {
  /* flex: 345px; */
  display: flex;
  justify-content: flex-start;
}
.image img {
  object-fit: cover;
}
.content {
  flex: 500px;
}

.hero_banner p {
  margin: 9px 0px;
  font-size: 80px;
  line-height: 72px;
  font-weight: bold;
}
.hero_banner .descrption {
  color: #8a93a5;
  width: fit-content;
  word-wrap: normal;
  font-weight: 400;
  font-size: 12px;
}
.hero_banner .title {
  color: #233253;
  width: fit-content;
  word-wrap: normal;
  font-weight: 400;
  font-size: 45px;
}
.hero_banner .subtitle {
  color: #8a93a5;
  width: fit-content;
  word-wrap: normal;
  font-weight: 400;
  font-size: 16px;
}

.hero_banner .note {
  color: #000000;
  width: fit-content;
  word-wrap: normal;
  font-weight: 400;
  font-size: 16px;
}

.hero_banner .call_to_action {
  color: #000;
  background-color: #ffffff;
  width: max-content;
  font-family: "Lato";
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  border: 0px;
  border-radius: 5px;
  margin-top: 22px;
  cursor: pointer;
  border: 1px solid #ffff;
  margin-right: 40px;
  transition: background-color 0.3s cubic-bezier(0.55, 0, 0.1, 1),
    color 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: box-shadow 1s cubic-bezier(0.55, 0, 0.1, 1) 0s;
}

.buttons {
  display: flex;
}
.hero_banner .right {
  order: 1;
  justify-content: flex-end;
}
.hero_banner .left {
  order: 0;
}
.hero_banner .small img {
  width: 267px;
  height: 211px;
}

.hero_banner .free_text {
  width: max-content;
}

.hero_banner .free_text h5 {
  color: #8a93a5;
  font-size: 15px;
  font-weight: 400;
  margin: 20px 0px;
}
.hero_banner .free_text h5 strong {
  color: #000000;
  font-weight: 400;
  font-size: 14px;
}
.hero_banner .free_text h1 {
  color: #233253;
  font-size: 45px;
  font-weight: 400;
  line-height: 58px;
  margin: 10px 0px;
}

.stats_banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 100px 0px 100px;
  align-items: center;
}
.stats_banner .card_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    ". . full"
    ". . full";
}

.stats_banner p {
  margin: 0px;
}
.stats_banner .title {
  font-size: 22px;
  color: #8a93a5;
  line-height: 22px;
  text-align: center;
  font-weight: 400;
  margin: 20px 0;
}
.stats_banner .subtitle {
  color: #233253;
  font-size: 45px;
  line-height: 56px;
  text-align: center;
}
.stats_banner .descrption {
  color: #8a93a5;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.free_banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 53px 180px 40px 180px;
  align-items: center;
  text-align: center;
}
.free_banner .card_container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
  margin: 59px 0px 52px 0px;
}
.free_banner .footer {
  text-align: left;
}
.free_banner h1 {
  font-size: 45px;
  font-weight: 400;
  color: #233253;
  margin: 0px;
}
.free_banner h2 {
  font-size: 45px;
  font-weight: 400;
  color: #233253;
  margin: 0px;
}
.free_banner h3 {
  font-size: 21px;
  font-weight: 400;
  color: #767676;
  margin: 0px;
}
.free_banner h4 {
  font-size: 45px;
  font-weight: 400;
  color: #233253;
  margin: 0px;
}
.free_banner h5 {
  font-size: 16px;
  font-weight: 400;
  color: #8a93a5;
  margin: 0px;
}
.free_banner h6 {
  font-size: 12px;
  font-weight: 400;
  color: #8a93a5;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.mediumCard_container {
  display: flex;
  justify-content: center;
}
.construction {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.career_banner {
  padding: 100px;
  display: flex;
}
.careerContent {
  padding-left: 7%;
}
.careerContent .title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.careerContent .freetext {
  font-weight: normal;
  font-size: 15px;
}
.careerContent .call_to_action {
  background: #ffffff;
  border: 1px solid #dad3d3;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(227, 213, 213, 0.25);
  border-radius: 5px;
  color: #000;
  width: max-content;
  font-family: "Lato";
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.service_banner {
  position: relative;
  width: 100%;
}
.bannerimg {
  width: 100%;
}
.service_banner .note_descrption {
  position: absolute;
  top: 4%;
  left: 7%;
  font-family: "Saira Extra Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 70px;
  color: #151616;
}
.service_banner .buttons {
  position: absolute;
  top: 60%;
  left: 7%;
  background: #ffffff;

  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(227, 213, 213, 0.25);
  border-radius: 5px;
  color: #000;
  width: max-content;
  font-family: "Lato";
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.client_banner {
  display: flex;
  width: 100%;
}
.blog_banner {
  background: #ea9913;
  padding: 8% 0;
  margin-bottom: 100px;

  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: 0;
  padding-right: 0;
}
.wide_card_ {
  display: flex;
  background: #fff;
  border-radius: 4px;
  margin-right: 50px;
}
/* .Industries_banner {
  background: #ffffff;
  padding: 2% 0% 6% 7%;
} */
.clients_cards {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 1200px;
  margin: auto;
}
.client {
  background: #f1f2f3;
  padding: 2% 0% 6% 8%;
}
.client_banner .downArrow {
  justify-content: right;
  margin-top: 20px;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -9.00313, 0, 1);
}

.clientContent {
  width: 90%;
  left: 7%;
  margin-bottom: 20px;
}
.clientContent .title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

/* .react-multi-carousel-list {
  align-items: start !important;
  overflow: visible !important;
  display: block !important;
} */
.carousel_blog_home {
  margin: auto;
  overflow: hidden;
  width: 1200px;
  height: 280px;
}
.homeblogcarousel .react-multiple-carousel__arrow--right {
  right: -webkit-calc(4% + 1px);
}
.homeblogcarousel .react-multiple-carousel__arrow--left {
  left: -webkit-calc(4% + 1px);
}
.blog_banner .buttons {
  margin: 60px 0 0;
  background: #ffffff;

  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(227, 213, 213, 0.25);
  border-radius: 5px;
  color: #000;
  width: max-content;
  font-family: "Lato";
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.accordion_head {
  padding-top: 3%;
  padding-bottom: 5%;
  background-color: #ffffff;
  margin-top: -130px;
}

.accordion {
  background-color: #f1f2f3;
  padding: 0 10%;
}
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f7f9;
}
.servicesleft {
  width: 30%;
  padding: 7% 1% 7% 7%;
}
.servicesRight {
  width: 70%;
  margin-left: 7%;
}
.container {
  display: flex;
  width: 100%;
}
.subTitle {
  width: 75%;
  font-weight: bold;
  font-size: 80px;
  line-height: 70px;
  font-family: "Saira Extra Condensed", sans-serif;

  text-transform: uppercase;

  color: #000000;
}
.subTitle p {
  margin: 7% 0;
}
.servicedownArrow {
  display: contents;
}
.serviceimg img {
  width: 100%;
}
.servicedescrption h3 {
  font-weight: bold;
  font-size: 45px;
  line-height: 40px;
  font-family: "Saira Extra Condensed", sans-serif;
  text-transform: uppercase;
  color: #000000;
  margin: 30px 0 20px;
}
.servicedescrption h6 {
  font-size: 15px;
  line-height: 26px;
  margin: 0 25px 40px 0px;
  font-weight: 400;
}
.services .title {
  font-size: 20px;
  line-height: 24px;
  margin: 30px 0;
}
.services .subtitle {
  font-size: 14px;
  line-height: 18px;
}

.stats_banner {
  background: #f4f7f9;
}
.status {
  margin: 0 5%;
  padding: 5% 7%;
  background-color: #fff;
  width: 100%;
}
.stats_banner .title {
  font-size: 45px;
  line-height: 40px;
  font-family: "Saira Extra Condensed", sans-serif;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  text-align: left;
}
.border {
  border: 1px solid #d6d6d67a;
  margin: 4% 0px 5%;
}
.offer h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 40px;
}
.offer p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.key_solutions {
  display: flex;
}
.key_solutions_textfild {
  background-color: #fff;
  padding: 4%;
  color: #fff;
  width: 60%;
}
.serviceKeySolutionimg {
  width: 40%;
  height: 520px;
}
.serviceKeySolutionimg img {
  height: 520px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.team_capabilities {
  background: #f4f7f9;
  padding: 4% 7%;
}
.appContainer {
  background-color: #fff;
  padding: 5% 7% 8%;
}
.team_capabilities title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.teamsubTitle p {
  margin: 30px 0;
}
.teamcardtitle h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.teamcardpara p {
  padding: 8% 0px;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}
.teamProcess {
  display: flex;
  width: 100%;
}
.teamcardtitle {
  width: 45%;
}
.teamcardpara {
  width: 55%;
}
.team_capabilitiesimg img {
  width: 800px;
  height: 400px;
}
.team_capabilitiesimg {
  width: 100%;
  text-align: center;
}

.processtitle p {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
.service_carosel_banner {
  background: #f1f2f3;
  padding: 2% 7% 6% 7%;
}

.arrowbtn {
  border: none;
  background: transparent;
}
.arrowbtn:hover {
  filter: brightness(0) saturate(100%);
}
.arrowbtntestimonial {
  border: none;
  background: transparent;
  opacity: 0.5;
  position: absolute;
  right: 6%;
  bottom: -60px;
}
.arrowleftbtntestimonial {
  border: none;
  background: transparent;
  opacity: 0.5;
  position: absolute;
  right: 11%;
  bottom: -60px;
}
.arrowbtntestimonial:hover {
  opacity: 1;
}
.arrowleftbtntestimonial:hover {
  opacity: 1;
}

@media only screen and (max-width: 500px) {
  .home_caro_mob {
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding-left: 0;
    padding-right: 0;
  }
  .home_caro {
    display: none;
  }
  .home_caro_mob {
    height: 360px;
    overflow-x: hidden;
  }

  .carosel_card_mob img {
    width: 100%;
    height: 300px;
  }
  .clientcarousel {
    height: 280px;
  }
  .hero_banner p {
    display: none;
  }
  .client_banner .downArrow {
    display: none;
  }
  .clientContent .note {
    font-size: 32px;
    line-height: 40px;
  }
  .service_banner .note_descrption {
    top: 12%;
    font-size: 34px;
    line-height: 40px;
  }
  .serviceKeySolutionimg img {
    height: auto;
  }
  .accordion_head {
    margin-top: 200px;
  }
  .service_banner {
    background: #f1f2f3;
  }
  .service_banner .buttons {
    top: 28%;
  }
  .accordion {
    padding: 0 7%;
  }
  .career_banner {
    padding: 10px;
    flex-wrap: wrap;
  }
  .careerContent .note {
    font-size: 32px;
    line-height: 40px;
  }
  .careerContent .call_to_action {
    margin-bottom: 30px;
  }
}
.capabilities_cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  align-items: baseline;
}
.home_bannerimg {
  width: 100%;
  display: grid;

  position: relative;
}

.banner_container {
  position: absolute;
  top: 170px;
  left: 0;
  right: 0;
  width: 1200px;
  margin: 0 auto;
}
.free_text h2 {
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
  color: #383838;
  margin: 5px 0;
  font-family: "GraphikMedium";
}
.free_text p {
  font-size: 20px;
  line-height: 40px;
  color: #000;
}
.homecall_to_action {
  font-size: 15px;
  line-height: 17px;
  color: #fff;
  background: #0171c1;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 14px 32px;
  margin-top: 30px;
}
.title h3 {
  font-size: 38px;
  font-weight: bold;
  font-family: "GraphikMedium";
  line-height: 60px;
  color: #383838;
  margin: 4% 0 3% 0;
}
.our_latest_works {
  background: #ffffff;
  padding: 2% 0% 0% 0%;

  overflow: hidden;
}

.capab_title h3 {
  font-family: "GraphikMedium";
  font-size: 38px;
  font-weight: bold;
  line-height: 60px;
  color: #383838;
  margin: 0;
}
.development_title h3 {
  font-size: 38px;
  font-weight: bold;
  font-family: "GraphikMedium";
  line-height: 60px;
  color: #383838;
  margin: 0;
}
.development_descrption p {
  font-size: 15px;
  line-height: 30px;
  color: #000;
}
.product_title h3 {
  font-size: 38px;
  font-family: "GraphikMedium";
  font-weight: bold;
  line-height: 40px;
  color: #383838;
  /* margin: 0 0 50px 0; */
}
.successful_product {
  padding: 5% 7% 8% 7%;
  background-color: #f4f7f9;
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: 0;
  padding-right: 0;
}
.successful_product_contener {
  width: 1200px;
  margin: auto;
}

.clients_title h3 {
  font-family: "GraphikMedium";
  font-size: 38px;
  font-weight: bold;
  line-height: 60px;
  color: #383838;
  margin: 0;
}
.home_form_section {
  background-color: #0171c1;
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: 0;
  padding-right: 0;
}
.home_from_container {
  width: 1200px;
  margin: 0 auto;
  padding: 4% 0;
  display: flex;
  flex-wrap: wrap;
}
.left_content {
  width: 42%;
}
.left_content_title h3 {
  font-family: "GraphikMedium";
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  color: #ffff;
  margin: 0;
}
.left_content_title h4 {
  font-family: "GraphikMedium";
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #ffff;
  margin: 30px 0 20px;
  padding: 25px 0 0;
}
.fome_form_button {
  font-size: 18px;
  margin: 10px 0;
  line-height: 30px;
  color: #ffff;
}
.fome_form_button a:hover {
  color: #fff;
}
.arrowicon {
  margin-right: 16px;
  width: 24px;
  height: auto;
}
.left_content_title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #ffff;
}
.right_from_section {
  width: 58%;
}
@media only screen and (max-width: 1200px) {
  /* .banner_container {
    padding: 0 16px;
  } */
  .free_text p {
    font-size: 16px;
    width: 63%;
  }
  .free_text h2 {
    font-size: 48px;
  }
  .carousel_blog_home {
    width: 992px;
  }
  .banner_container {
    width: 992px;
  }
  .successful_product_contener {
    width: 992px;
  }
  .home_from_container {
    width: 992px;
  }
  .arrowleftbtntestimonial {
    right: 14%;
  }
}
@media only screen and (max-width: 992px) {
  .carousel_blog_home {
    max-width: 850px;
  }
  .banner_container {
    max-width: 850px;
  }
  .successful_product_contener {
    max-width: 850px;
  }
  .home_from_container {
    max-width: 850px;
  }
  .free_text p {
    font-size: 14px;
    width: 78%;
    line-height: 30px;
  }
  .free_text h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .homecall_to_action {
    font-size: 14px;
    margin-top: 10px;
  }
  .clientcarousel {
    height: 350px;
  }
  .development_descrption p {
    font-size: 14px;
  }
  .left_content_title p {
    font-size: 14px;
  }
  .fome_form_button {
    font-size: 14px;
  }
  .carosel_card img {
    height: 500px;
  }
  .banner_container {
    top: 107px;
  }
}
@media only screen and (max-width: 850px) {
  .carousel_blog_home {
    max-width: 768px;
  }
  .banner_container {
    max-width: 768px;
  }
  .successful_product_contener {
    max-width: 768px;
  }
  .home_from_container {
    max-width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .carousel_blog_home {
    max-width: 100%;
    padding: 0 2%;
  }
  .banner_container {
    max-width: 100%;
    padding: 0 2%;
  }
  .successful_product_contener {
    max-width: 100%;
    padding: 0 2%;
  }
  .home_from_container {
    max-width: 100%;
    padding: 0 2%;
  }
  .free_text h2 {
    font-size: 34px;
    line-height: 50px;
  }
  .descrption {
    font-size: 18px;
    line-height: 30px;
  }
  .left_content_title h3 {
    font-size: 20px;
  }
  .left_content_title h4 {
    font-size: 20px;
    margin: 0;
  }
  .home_form_section {
    background-color: #0171c1;
    padding: 4%;
  }
  .left_content_title p {
    font-size: 12px;
  }
  .fome_form_button {
    font-size: 14px;
  }
  .arrowleftbtntestimonial {
    right: 14%;
  }
}
@media only screen and (max-width: 480px) {
  .free_text h2 {
    font-size: 30px;
    line-height: 40px;
    margin-right: 72px;
  }
  .capabilities_cards {
    justify-content: space-between;
  }

  .free_text p {
    font-size: 26px;
    margin-top: 15px;
    line-height: 40px;
    font-family: "GraphikMedium";
  }
  .descrption {
    font-size: 12px;
    line-height: 30px;
  }
  .successful_product {
    padding: 5% 2% 8% 2%;
    /* margin-bottom: 6%; */
  }
  .banner_container {
    top: 24%;
    left: 2%;
    right: 2%;
    height: 200px;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #cceaff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px #bee4ff;
    border-radius: 5px;
    width: 94%;
    padding: 10px 28px 0 10px;
  }
  .our_latest_works {
    padding: 8% 0% 18% 0%;
  }
  .title h3 {
    font-size: 26px;
  }
  .capab_title h3 {
    font-size: 26px;
  }
  .key_solutions {
    flex-wrap: wrap;
  }
  .key_solutions_textfild {
    width: 100%;
  }
  .serviceKeySolutionimg {
    width: 100%;
    height: auto;
  }
  .development_title h3 {
    font-size: 26px;
  }
  .product_title h3 {
    font-size: 26px;
    margin: 0 0 0px 10px;
  }
  .blog_banner {
    padding: 7%;
  }
  .blog_banner {
    height: 320px;
    margin-bottom: 50px;
  }
  .clients_title h3 {
    font-size: 26px;
  }
  .left_content {
    width: 100%;
  }
  .right_from_section {
    width: 100%;
  }
  .home_form_section {
    background-color: #0171c1;
    padding: 4%;
  }
  .carousel {
    margin-top: 0px;
  }
  .clients_cards {
    margin-top: 0px;
  }
  .development_descrption p {
    font-size: 12px;
  }
  .descrption p {
    width: 100%;
  }
}
