.section1{
  text-align: center;
}
.section1_serviceimg{
  margin-top: -320px;
  width:100%;
  height: 480px;
  overflow:hidden;
}
.section1_title{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 800;
  font-size: 50px;
  line-height: 55px;
  margin-left: 85px;
  margin-top: 130px;
}
.section1_buttons{
  position: relative;
  background-color: #FFAF2B;
  color:white;
  font-size: 11px;
  font-weight: bolder;
  width:180px;
  bottom: 170px;
  height: 34px;
  margin-left: 640px;
  padding: 8px;
  text-align: center;
  border-radius: 20px;
}
.section1_note{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  margin-left: 85px;
  margin-top: 0px;
}
.section2_title{
  font: 3rem sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  line-height: 33px;
  margin-top: 30px;
}
.section2_note{
  margin-left: 160px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}
.section3_title{
  position: relative;
  font: 3rem sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  line-height: 150px;
  margin-top: 70px;
}
.section3_note{
  position: relative;
  text-align: center;
  margin-left: 90px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-top: -70px;
}
.section3_para1{
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 800;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 280px;
  padding-left: 22px ;
  margin-top: -500px;
  padding-top: 13px;
}
.section3_para2{
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-top: -16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius:15px ;
  padding: 15px;
  box-shadow: 0 4px 3px -1px rgba(0, 0, 0, 0.1);
  line-height: 20px;
}
.section3_card{
  display: flex;
  justify-content:center ;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 10px;
  column-gap: 60px;
  margin-top: -15px;
}
.section3_serviceimg{
  width: 100%;
  height: 700px;
  margin-top: -160px;
  overflow-x:hidden ;
 
}
.section4_title{
  font: 3rem sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  /* line-height: 100px; */
}
.section4_buttons{
  background-color: #FFAF2B;
  color: white;
  font-size: 11px;
  font-weight: bolder;
  width:180px;
  bottom: 65px;
  height: 34px;
  margin-left: 85px;
  padding: 8px;
  text-align: center;
  margin-left:620px;
  border-radius: 20px;
}
.section5{
  display: flex;
  justify-content:center ;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 500px;
  column-gap: 70px;
  margin-top: -920px;
  row-gap: 50px;
}
.section5_title{
  font: 3rem sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  line-height: 100px; 
  margin-top: 40px;
}
.section5_note{
  text-align: center;
  margin-left: 90px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  margin-top: -30px;
}
.section5_para1{
  
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 800;
}
.section6_title{
  position: relative;
  font: 3rem sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  line-height: 160px;
  margin-top: 100px;
  color: white;
}
.section5_serviceimg{
  margin-top: 100px;
}
.section6_note{
  position: relative;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 0px;
  margin-top: -60px;
  color: white;
}
.section6_img{
  background-color: white;
  border: 1px solid black;
  width: 110px;
  border-radius: 12px;
  text-align: center;
  padding: 2px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 25px;
}
.section6_imgages{
  display: flex;
  justify-content:center ;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -130px;
  column-gap: 50px;
}
.section6_serviceimg{
  width: 100%;
  overflow: hidden;
  margin-top: -150px;
}
.section7{
  margin-top: 50px;
}
.section7_img{
  display: flex;
  justify-content:center ;
   align-items: center; 
  flex-wrap: wrap;
  padding-left: 100px;
  margin-right: 30px;
  line-height: 20px;
}
.section7_title{
  font: 3rem sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 800;
  font-size: 30px;   
  line-height: 100px;
}
.section7_para2{
  position: absolute;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 120px;
  margin-left: 10px;
}
.section8_title{
  position: relative;
  font: 3rem sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 800;
  font-size: 30px;   
  margin-top: 150px;
}
.section8_note{
  position: relative;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-top: 20px;

}
.section8_serviceimg{
  width: 100%;
  overflow: hidden;
  margin-top: -200px;
  height: 700px;
}
.section8_img{
  display: flex;
  justify-content:center ;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-top: -179px;
  column-gap: 60px;

}
.section8Cardimg{
  border-radius: 10px;
}
.section8_para1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  
}
.section8_para2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 8px;
}
.section8Para{
  position: relative;
  bottom:25px;
  background-color:white;
  color:black;
  width: 50%;
  border-radius: 5px;
  text-align: center;
  margin-left: 77px;
  height: 58px;
  padding: 5px;
}
.our_work_card{
  margin-top: -60px;
}