

.section1 {
  text-align: center;
  /* position: relative; */
}

.section1 img {
  opacity: 0.3;
}

.section1 {
    width: 100%;
    display: grid;
    margin-top: 66px;
    text-align: center;
    color: white;
    height: 100%;
    max-height: 400px;
    min-height: 300px;
    background:#0662a7;
    align-items: center;
    position: relative;
    background-image: url(../components/assets/top-banner-transparent.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.section1 img {
  height: auto;
  max-height: 400px;
  min-height: 250px;
}

.section1 .banner_container{
    position: absolute;
    top: 26%;
    width: 100%;
}

.section1 .content .free_text {
  font-family: "GraphikMedium";
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 55px;
 }

.section1 .content .descrption {
  padding: 0 30px;
}

.companybanner .title p {
  font-size: 15px;
  color: #062841;
  font-weight: 600;
  padding: 8% 40% 0 8%;
  margin: 0;
}
.companybanner .subtitle p {
  font-size: 12px;
  color: #434750;
  font-weight: 500;
  padding: 1% 20% 0 8%;
}

.companybanner_plans P {
  font-size: 10px;
}
.content {
  color: white;
}


.section1 .call_to_action {
  color: white;
  background-color:#FFAF2B;
  width: max-content;
  font-family: "GraphikRegular";
  padding: 8px 40px;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  border: 0px;
  border-radius: 60px;
  cursor: pointer;
  border: none;
  margin: auto;
  transition: background-color 0.3s cubic-bezier(0.55, 0, 0.1, 1),
    color 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: box-shadow 1s cubic-bezier(0.55, 0, 0.1, 1) 0s;
}

.section1 .call_to_action:hover{
  background: #0171c1;
}


@media only screen and (max-width: 500px) {
  .section1 .banner_container{
    top: 20%;
  }
  .section1 .content .free_text{
    font-size: 30px;
    line-height: 30px;
  }
  .section1 .content .descrption {
    padding: 0 30px;
    font-size: 12px;
  }

  .section1 .banner_container .call_to_action{
    font-size: 12px;
  }

}


/* /////////SECTION2/ */
.section2 {
  margin-bottom: 40px;
}

.section2 .section2_title p{
  text-align: center;
  line-height: 33px;
  margin-top: 30px;
  font-family: "GraphikMedium";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
}

.section2 .section2_note{
  display: flex;
  justify-content: center;
}
.section2 .section2_note p{
  font-family: "GraphikRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}
.section2 .section2_title p{
  text-align: center;
  line-height: 33px;
  font-family: "GraphikMedium";
  font-size: 36px;
}

/* SECTION3 */

.section3 {
  background-color: #f1f8ff;
  background-image: url(../components/assets/transparent-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.section3 .Industries_banner {
  padding: 5%;
}

.section3 .clientContent {
  text-align: center;
  padding: 0;
}

.section3 .clientContent .section3_title {
  font-family: "GraphikMedium";
  text-align: center;
  font-weight: 600;
  font-size: 34px;
  line-height: 40px;
}

.section3 .section3_note {
  font-family: "GraphikRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.section3_heading {
  font-family: "GraphikMedium";
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  }

.section3_card {
  display: flex;
  justify-content:center ;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 10px;
  margin-top: 35px;
  padding: 10px;
}

.section3_serviceimg{
  width: 100%;
  height: 700px;
  margin-top: -160px;
}

.section3_card .mobile_app_development_card {
  width: 330px;
  height: 350px;
  margin: 2px 20px;
  padding: 20px 18px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(144, 140, 140, 0.25);
  border-radius: 20px;
}


.section3_cards .section3_para {
  font-family: "GraphikRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px !important;
  display: -webkit-box;
  max-width: 360px;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 24px;
  margin-bottom: 10px;
}

.section3_cards .section3_para {
  font-family: "GraphikRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}
.section3_card .mobile_app_development_card button {
    all: unset;
    color: #0171C1;
    font-weight: 500;
}

.section3_card button img {
  margin: 0 5px;
  width: 12px;
  height: 18px;
}

.section3_card button p {
  display: flex;
}

@media only screen and (max-width: 500px) {

  .section3_heading {
    font-family: "GraphikMedium";
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    }

    .section3 {
      padding: 0 15px;
    }

  .section3 .clientContent .section3_title {
      font-size: 26px;
      line-height:35px;
    }

    .section3 .clientContent .section3_note{
      font-size: 12px;
    }

  .section3_card .mobile_app_development_card {
      margin: 10px 0;
    } 
}

/* //////////SECTION-4 */


.clientContent4 {
  text-align: center;
  margin: 50px 0;
  
}

.section4_title {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  font-family: "GraphikMedium";
}

.section4_buttons {
  display: flex;
  justify-content: center;
  /* width: 267px;
  height: 45px;
  left: 587px;
  top: 1858px;
  background: #FFAF2B;
  border-radius: 30px; */
}

.section4_buttons .call_to_action{
  background-color: #FFAF2B;
  cursor: pointer;

  color: white;
  width:267px;
  bottom: 65px;
  height: 45px;
  margin-top: 30px;
  padding: 12px;
  text-align: center;
  border-radius: 30px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
}

.section4_buttons .call_to_action:hover{
  background: #0171c1;
}


@media only screen and (max-width: 500px) {
  .clientContent4 {
    margin: 30px;
  }
  .section4_title {
   font-size: 22px;
  }
  .section4_buttons .call_to_action{
    width: 190px;
    font-size: 12px;
    height: 40px;
    margin-top: 0;
  }
}

/* ////////////////////SECTION-5 */

.section5 {
  padding-bottom: 4rem;
  
}
.section5_content {
  text-align: center;
  margin: 100px 0;
}

.section5_content .section5_title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 29px
}

 .section5_img_container {
    display: flex;
    padding-left: 10px;
  }

  .section5_img_container img {
    /* border-radius: 20px; */
  }

.section5_cards {
  display: flex;
  padding: 0 25px;
  flex-wrap: wrap;
}

.section5 .mobile_app_development_cards{
  margin: 0px;
  padding: 10px 16px;
  width: 330px;
}

.section5 .mobile_app_development_cards .section5_heading{
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    margin: 20px 0;
}

@media only screen and (max-width: 500px) {
  .section5_content {
    margin: 0;
  }
  .section5_content .section5_title {
    font-size: 22px;
  }

  .section5_content .section5_note{
    font-size: 12px;
  }
  .section5 .mobile_app_development_cards{
     margin: auto;
  }
}

/* //////////////SECTION-6 */

.section6 {
    text-align: center;
    background:#0662a7;
    background-image: url(../components/assets/mobile-tech-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.section6 .Industries_banner {
   padding: 45px 0;
}

.section6 .clientContent {
  /* margin: 20px; */
  padding: 20px 0;
}

.section6_title {
    font-weight: bold;
    font-size: 40px;
    line-height: 44px;
    color: white;
}

.section6_note {
  color: white;
  font-size: 16px;
  line-height: 1px;
}

.section6_imgages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section6_img {
  width: 125px;
  height: 120px;
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid #9F9F9F;
  box-sizing: border-box;
  border-radius: 30px;
  transition: all 0.4s;
  margin: 0 20px;
  transition-timing-function: ease-in-out;
}

.section6_img .cardimg {
}

.section6_img:hover{
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 22%);
  transform: scale(1.1);
}

@media only screen and (max-width: 500px) {
  .section6_title {
    font-size: 26px;
  }

  .section6_note{
    font-size: 12px;
  }
  .section5 .mobile_app_development_cards{
     margin: auto;
  }
  .section6_img {
    width: 100px;
    height: 100px;
    padding: 8px 0;
  }
  .section6_img p{
    font-size: 12px;
  }
}


/* /////section 7 */


.section7 {
  height: 300px;
  text-align: center;
  margin: 50px 10px;
}

.section7_title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: -50px;
}

.section7 .sec7_numbers {
  display: flex;
  justify-content: space-evenly;
  /* margin: 60px 40px 40px 40px; */
  position: relative;
  top: 98px;
}
.section7 .sec7_numbers > div {
   width: 200px;
   text-align: center;
}

.section7 h4 {
  border: 2px solid;
  border-color: #2F95DE;;
  border-radius: 30px;
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  color: #2F95DE;;
  margin: 20px auto;
  transition: all 0.4s;
  transition-timing-function: ease-in-out;
  padding: 8px;
}
.section7 h4:hover{
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 22%);
  transform: scale(1.6);
}
.section7 .dots {
  margin: auto;
  width: 84%;
  border-top: 1px dashed #AAAAAA;
}



/* .section7 h4::after {
  content: '';
  border-top: 2px dashed red;
} */

/* SECTION-8 */

.section8  {
  text-align: center;
  background-color: #eea52c;
  padding: 50px 0;
  background-image: url(../components/assets/our-work-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.section8 .clientContent {
  padding: 30px 0;
  color: white;
}
.section8_title {
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
}
.section8_img {
  display: flex;
  position: relative;
  justify-content: space-evenly;

}

.section8_img .section8Cardimg {
  border-radius: 10px;
  transition: all 0.4s;
  transition-timing-function: ease-in-out;
}

.section8_img .section8Cardimg:hover{
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 22%);
    transform: scale(1.1);
}

.section8Para {
  width: 202px;
  height: 82px;
  position: relative;
  margin: 0 50px;
  top: -28px;
  padding: 10px 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(192, 189, 189, 0.25);
  border-radius: 8px;

}

/* .section8Contents {
  background-color: grey;
} */

.section8_para1 {
   font-weight: bold;
   /* line-height: 2px; */
    font-size: 20px;
}
.section8_para2 {
 line-height: 0px;
}  


@media only screen and (max-width: 500px) {
  .section8_title {
    font-size: 26px;
  }

  .section8_note{
    font-size: 12px;
  }

  .section8_img .section8Cardimg {
    /* all:unset;
    background-color: brown;
    width: 100px !important;
   height: 100px !important ; */
  }
}




/* Service_inner_page Design */

.seviceinner_bannerimg{
  width: 100%;
  height: 77%;
  display: grid;
  position: relative;
   margin-top: 66px;
    color: white;
}
.seviceinner_banner_container{
  position: absolute;
  top: 15%;
  left: 8%;
}
.seviceinner_free_text h3{
font-style: normal;
font-weight: bold;
font-size: 3rem;
line-height: 3.15rem;
/* color: #413F3F; */
}
.seviceinner_descrption p{
font-style: normal;
font-weight: normal;
font-size: 1rem;
line-height: 1.875rem;
/* color: #413F3F; */
}
.seviceinner_banner_buttons{
  height: 2.5rem;
  width: 12rem;
  background-color: #ffaf2b;
  color: #fff;
  border: none;
  box-sizing: border-box;
  border-radius: 30px;
  text-align: center;
  font-size: 0.9375rem;
  line-height: 17px;
  padding: 0.6rem 0rem;
  margin-top: 1.875rem;
}
.serviceinner_sec2_Container{
margin-top:0rem;
}

.serviceinner_sec2_Content{
  display: flex;
  align-items: center;
  justify-content:center;
  margin-top:3rem;
}
.serviceinner_sec2_heading h3{
 font-style: normal;
font-weight: bold;
font-size: 2.5rem;
line-height: 2.75rem;
text-align: center;
margin-bottom:0.5rem;
margin-top: 5rem;
}
.serviceinner_sec2_left_img{
margin-right: 1rem;
}
.serviceinner_sec3_left_img{
  margin-right: 0rem;
}
.serviceinner_sec2_left_note p{
  margin-left: 5rem;
font-style: normal;
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: normal;
  text-align: justify;
}
.serviceinner_sec3_Container{
  margin:4rem;
}
.serviceinner_sec3_heading h4{
  width: 100%;
font-style: normal;
font-weight: bold;
font-size: 1.3rem;
line-height: 1.75rem;
text-align: justify;
margin-bottom:3.2rem;
}
.serviceinner_sec3_left_note p{
 /* margin-left: 5rem; */
font-style: normal;
  font-size: 0.9rem;
  line-height: 30px;
  font-weight: normal;
  text-align: justify;
}
.serviceinner_sec3_Content{
  display: flex;
  align-items: center;
  justify-content:center;
  margin-top:3.5rem;
}
.serviceinner_sec3_Content_left{
  margin-right: 5rem;
}
.seviceinner_sec4_Container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}
.seviceinner_sec4_title h3{
font-style: normal;
font-weight: bolder;
font-size: 1.5rem;
line-height: 1.875rem;
margin-top: 2rem;
}
.seviceinner_sec4_descrption p{
text-align:justify;
font-style: normal;
font-weight: normal;
font-size: 0.9375rem;
line-height: 1.875rem;
}
.seviceinner_sec4_cards{
display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}
.androidcard{
  height: 384px;
  width: 374px;
  margin-bottom: 3rem;
  margin-top: 1rem;
  margin-left: 1rem;
  transition: 0.3s;
  background-color: white;
  padding: 1% 1.5% 3% 1.5%;
}
.androidcard:hover{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 15px;
  transition: 0.3s;
}
.androidcardimg{
  margin-top: 1.5rem;
}
.android_cardtext{
display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  margin-top: 1rem;
}
.android_heading p{
  width: 100%;
  margin-right: 11rem;
  font-size: 1.5rem;
  line-height: 1.875rem;
  text-align: justify;
  font-weight: bold;
}
.android_subheading p{
font-size: 0.9375rem;
  line-height: 1.875rem;
  text-align: justify;
  margin-top: 0.5rem;
}
/* //////RESPONSIVE */

@media only screen and (max-width: 500px) {

  .section2 .clientContent .section2_note {
    padding: 10px 20px;
  }
  


  .section5_img_container img{
      width: 200px;
      border-radius: 20px;
  }


  .client_banner5 {
    flex-direction: column;
  }

   .numbers {
    flex-direction: column;
  }

  .section5_img_container {
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    text-align: center;
  }

    .section5_cards img {
      width: 75px;
      height: 68px;
    }

    .imgColumn {
      width: 100%;
    }

    .cardColumn {
      width: 100%;
    }

    .section6_note {
      line-height: 25px;
    }
    
    .section8_img {
      margin: auto;
      flex-direction: column;
      border-radius: 10px;
      width: 90%;
      height: 90%;
    }

    .section8Para {
      margin: auto;
    }
}
@media only screen and (max-width: 992px){
  .serviceinner_sec3_Content_left{
  margin: 2rem;
}
.serviceinner_sec3_left_img{
   margin: 1.5rem;
}
  .serviceinner_sec2_heading h3{
margin-top: 2rem;
  }
 
  .seviceinner_sec4_descrption p{
  margin: 2rem 3rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
.serviceinner_sec2_left_note p{
 
margin-left: 1.5rem;
margin-right: 1.7rem;
  font-size: 1rem;
  line-height: 24px;
  
}
.serviceinner_sec2_left_img{
  margin-left:1rem ;
}
}
@media only screen and (max-width: 768px){
  .serviceinner_sec2_Content{
    display: block
  }
    .serviceinner_sec3_Content{
      display: block
    }
  .seviceinner_sec4_descrption p{
    margin: 2rem 3.5rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .seviceinner_sec4_title h3{
    margin: 0rem 2rem ;
    font-size: 1.3rem;
    line-height: 1.875rem;
  }

    .section7 {
      display: none;
    }
}