

.section1 {
  text-align: center;
  /* position: relative; */
}

.section1 img {
  opacity: 0.3;
}

.section1 {
    width: 100%;
    display: grid;
    margin-top: 66px;
    text-align: center;
    color: white;
    height: 77%;
    background:#0662a7;
    align-items: center;
    position: relative;
}

.section1 .banner_container{
    position: absolute;
    top: 26%;
    width: 100%;
}

.section1 .content .free_text {
    font-weight: 700;
    font-size: 40px;
 }

.section1 .content .descrption {
  padding: 0 30px;
}

.companybanner .title p {
  font-size: 15px;
  color: #062841;
  font-weight: 600;
  padding: 8% 40% 0 8%;
  margin: 0;
}
.companybanner .subtitle p {
  font-size: 12px;
  color: #434750;
  font-weight: 500;
  padding: 1% 20% 0 8%;
}

.companybanner_plans P {
  font-size: 10px;
}
.content {
  color: white;
}


.section1 .call_to_action {
  color: white;
  background-color:#FFAF2B;
  width: max-content;
  font-family: "Lato";
  padding: 8px 40px;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  border: 0px;
  border-radius: 60px;
  cursor: pointer;
  border: none;
  margin: auto;
  transition: background-color 0.3s cubic-bezier(0.55, 0, 0.1, 1),
    color 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: box-shadow 1s cubic-bezier(0.55, 0, 0.1, 1) 0s;
}


/* /////////SECTION2/ */
.section2 {
  margin-bottom: 40px;
}

.section2 .section2_title{
  text-align: center;
  font: 3rem sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  line-height: 33px;
  margin-top: 30px;
}

.section2 .section2_note{
  display: flex;
  justify-content: center;
}

/* SECTION3 */

.section3 {
  background-color: #f1f8ff;
}


.section3 .clientContent {
  text-align: center;
  padding-top: 60px;
}

.section3 .clientContent .section3_title {
  font: 3rem sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  line-height: 15px;
}

.section3_card {
  display: flex;
  justify-content:center ;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 10px;
  column-gap: 60px;
  margin-top: 35px;
  padding: 10px;
}

.section3_serviceimg{
  width: 100%;
  height: 700px;
  margin-top: -160px;
  overflow-x:hidden ;
 
}

.section3_card .mobile_app_development_card {
  width: 360px;
  height: auto;
  padding: 20px 18px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(144, 140, 140, 0.25);
  border-radius: 20px;
}

.section3_card .mobile_app_development_card button {
    all: unset;
    color: #0662a7;
    font-weight: 500;
}
.section3_heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

/* //////////SECTION-4 */


.clientContent4 {
  text-align: center;
  margin: 50px 0;
}

.section4_title {
  font: 3rem sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
}

.section4_buttons {
  display: flex;
  justify-content: center;
}

.section4_buttons .call_to_action{
  background-color: #FFAF2B;
  color: white;
  font-size: 11px;
  font-weight: bolder;
  width:180px;
  bottom: 65px;
  height: 34px;
  margin-top: 30px;
  padding: 8px;
  text-align: center;
  border-radius: 20px;
}


/* ////////////////////SECTION-5 */

.section5 {
  padding-bottom: 4rem;
}
.section5_content {
  text-align: center;
  margin: 100px 0;
}

.section5_content .section5_title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 29px
}

 .section5_img_container {
    display: flex;
    padding-left: 10px;
  }

  .section5_img_container img {
    border-radius: 20px;
  }

.section5_cards {
  display: flex;
  padding: 0 20px;
  flex-wrap: wrap;
}

.section5 .mobile_app_development_cards{
  margin: 10px 0;
  padding: 10px 20px;
}

.section5 .mobile_app_development_cards .section5_heading{
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    margin: 20px 0;
}

/* //////////////SECTION-6 */

.section6 {
    text-align: center;
    background:#0662a7;
}

.section6 .Industries_banner {
   padding: 45px 0;
}

.section6 .clientContent {
  /* margin: 20px; */
  padding: 20px 0;
}

.section6_title {
   font-weight: bold;
    font-size: 40px;
    line-height: 44px;
    color: white;
}

.section6_note {
  color: white;
  font-size: 16px;
  line-height: 1px;
}

.section6_imgages {
  justify-content: space-evenly;
  display: flex;
}

.section6_img {
  width: 145px;
  height: 107px;
  background: #FFFFFF;
  border: 1px solid #9F9F9F;
  box-sizing: border-box;
  border-radius: 30px;
}


/* /////section 7 */


.section7 {
  /* height: 300px; */
  text-align: center;
  margin: 50px 10px;
}

.section7_title {
  font-weight: bold;
  font-size: 30px;
}

.section7 .numbers {
  display: flex;
  justify-content: space-evenly;
  margin: 60px 40px 40px 40px;
}

.section7 h4 {
  width: 61px;
  height: 51px;
  padding: 9px;
  display: inline-block;
  background: #F3F9FF;
  border: 2px solid #2F95DE;
  /* box-sizing: border-box; */
  border-radius: 26px;
}

/* .section7 h4::after {
  content: '';
  border-top: 2px dashed red;
} */

/* SECTION-8 */

.section8  {
  text-align: center;
  background-color: #eea52c;
  padding: 50px 0;
}
.section8 .clientContent {
  padding: 30px 0;
  color: white;
}
.section8_title {
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
}
.section8_img {
  display: flex;
  position: relative;
  justify-content: space-evenly;
}

.section8 img {
  border-radius: 10px
}

.section8Para {
  width: 202px;
  height: 82px;
  position: relative;
  margin: 0 50px;
  top: -28px;
  padding: 10px 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(192, 189, 189, 0.25);
  border-radius: 8px;

}

/* .section8Contents {
  background-color: grey;
} */

.section8_para1 {
   font-weight: bold;
   /* line-height: 2px; */
    font-size: 20px;
}
.section8_para2 {
 line-height: 0px;
}  


/* //////RESPONSIVE */

@media only screen and (max-width: 500px) {
  .section1 .banner_container{
    top: 20%;
  }

  .section1 .banner_container .free_text {
    font-size: 30px;
  }


  .section2 .clientContent .section2_note {
    padding: 10px 20px;
  }
   

  .section3 {
    padding: 0 15px;
  }

  .section3 .clientContent .section3_title {
      line-height:35px;
    }

  .section3_card .mobile_app_development_card {
      margin: 10px 0;
    } 


  .section5_img_container img{
      width: 200px;
      border-radius: 20px;
  }


  .section6_imgages {
    flex-direction: column;
    align-items: center;
  }

  .client_banner5 {
    flex-direction: column;
  }

   .numbers {
    flex-direction: column;
  }

  .section5_img_container {
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    text-align: center;
  }

    .section5_cards img {
      width: 75px;
      height: 68px;
    }

    .imgColumn {
      width: 100%;
    }

    .cardColumn {
      width: 100%;
    }

    .section6_note {
      line-height: 25px;
    }
    
    .section8_img {
      margin: auto;
      flex-direction: column;
      border-radius: 10px;
      width: 90%;
      height: 90%;
    }

    .section8Para {
      margin: auto;
    }
}